body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(25, 15, 83);
    color: white;
    .header {
        margin: 0 10% 0 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .login{
            text-decoration: underline;
            font-size: 1.2rem;
            font-weight: bold;
        }
        li {
            margin-left: 20px;
            display: inline-block;
            transition: 0.4s;
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }

    }
}
